html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  width: 100%;
}

body {
  background-color: #ffffff;
  text-align: center;
  color: #29293d;
  margin: 0;
  overflow-x: hidden;
  line-height: 2 !important;
}

.container-fluid {
  padding-left: 0 !important;
}

.navbar-brand {
  padding-top: 1rem;
  padding-left: 10rem;
  font-size: 1.75rem;
  font-weight: 450;
  color: #353738;
  transition: 0.3s;
}

.navbar-brand:hover {
  color: #5f6162;
}

#cute-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 2rem;
  transition: 0.3s;
}

#cute-logo:hover {
  box-shadow: none;
}

.project-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 12vw;
  text-align: left;
  color: #353738;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.project-header > h1 {
  margin-bottom: 2rem;
  font-size: 4.3rem;
}

.project-header > h2 {
  margin-bottom: 2rem;
  font-size: 2.3rem;
}

.project-title {
  font-size: 4rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.project-info {
  margin-left: 25vw;
  margin-top: 5rem;
  margin-right: 25vw;
  text-align: left;
}

.project-info > h3 {
  margin-top: 1.5rem;
}

h3 {
  font-style: normal;
  font-weight: 700;
  color: #353738;
  font-size: 2.3rem;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images > h3 {
  margin-top: 3rem;
  color: whitesmoke;
}

.images > h4 {
  font-size: 2rem;
  margin-top: 1rem;
  color: whitesmoke;
}

#header-tag {
  max-width: 500px;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #10b981;
  background-color: #d1fae5;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  vertical-align: text-bottom;
}

p {
  font-size: 1.2rem;
  color: #484a4d;
  max-width: 700px;
}

video {
  max-width: 1200px;
  height: auto;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

img {
  width: 100%;
  height: auto;
  max-width: 1200px;
  max-height: 1200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  transition: 0.3s;
}

img:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#tag {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #10b981;
  background-color: #d1fae5;
  font-weight: 700;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 0.5rem;
  vertical-align: text-bottom;
}

.tags {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-right: 1.6rem;
}

.list-checkmarks li:before {
  font-family: "FontAwesome";
  content: "\f00c";
  margin: 0 10px 0 -28px;
  color: whitesmoke;
  background: #17aa1c;
  padding: 3px;
  border-radius: 20px;
}

.list-display li {
  margin-bottom: 0.4rem;
  margin-left: 0.6rem;
  font-size: 1.2rem;
  margin-top: 0.6rem;
  color: #484a4d;
  text-align: left;
}

ol li {
  font-size: 1.2rem;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@media (max-width: 991.98px) {
  .navbar-brand {
    padding-left: 20px;
  }

  .project-header {
    padding-left: 0px;
  }
  .project-header > h1 {
    font-size: 3rem;
  }
  .project-info {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  video {
    max-width: 100%;
  }
}
